<!-- 
layout: default

title: Welcome to HTMG
meta-title: Know more about HTMG!
meta-author: guilherme-codes
meta-keywords: code, javascript, static html.
meta-description: in this article you will learn more about HTMG.

meta-og-title: Know HTMG!
meta-og-description: Look this article.
meta-og-image: https://example.com/img.png

meta-twitter-title: Know More
meta-twitter-image: https://example.com/img.png
meta-twitter-card: https://example.com/img.png
meta-twitter-description: in this article you will learn more about HTMG.
-->

<h1 class="title">Welcome to HTMG</h1>
<p>
  Get started by visiting the 
  <a class="link" href="https://github.com/guilherme-codes/htmg" target="_blank">documentation</a>.
</p>